@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Poppins, sans-serif;
    background-color: #fff;
}


h1 {
    font-weight: 400;
    text-align: center;
    padding: 30px 0;
}

.container{
    margin: 0 auto;
    text-align: center;
}

.lessons{
    margin: 30px 20px;
    color: #2c3e50;
}

.lessons h2{
    font-size: 38px;
}

.lessons .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lesson a{
    text-decoration: none;
}


.lessons .lesson{
    margin: 30px 15px;
    background-color: #000;
    width: 250px;
    height: 250px;
    border-radius: 5%;
    position: relative;
}

.logo{
    width: 100%;
    height: 100%;
    border-radius: 5%;
    border: 1px solid #000;
}

.lesson p{
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    opacity: 0;
}

.lesson p:hover{
    opacity: 1;
}



