/* Header */

a {
    text-decoration: none;
}

.header {
    /*background-color:#21618C ;*/
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 90px;
    font-family: "poppins";
    position: fixed;
    z-index: 9999;
}

.header-left {
    font-size: 40px;
    float: left;
    padding-top: 20px;
    padding-left: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    color: darkblue;
}

.btn-header {
    text-align: center;
    margin-top: 10px;
    margin-right: 20px;
    float: right;
}

.btn-header a {
    margin: 10px 0;
    /* text-decoration-line: none; */
    color: white;
    margin-right: 15px;
    background-color: #1a73e8;
}

.login {
    background-color: white;
}

.signup {
    background-color: white;
}

.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
}

.btn:hover {
    opacity: 1;
}

.menu-icon {
    color: black;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
    margin-right: -100px;
}

.wrapper {
    background-image: url(https://image.freepik.com/free-vector/teamwork-background-flat-design_23-2147760392.jpg);
    height: 500px;
    color: white;
    text-align: center;
    padding: 100px 0px 100px 0;
    animation: wrapperAnimation 2s ease forwards;
}

.wrapper h1 {
    font-size: 50px;
    line-height: 25px;
    font-family: "poppins";
}


/* Section Body */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #fff;
}


h1 {
    font-weight: 400;
    text-align: center;
    padding: 30px 0;
}

.container {
    margin: 0 auto;
    text-align: center;

}

.profil-tim {
    margin: 30px 20px;
    color: #2c3e50;
    margin-bottom: 200px;
}

.profil-tim .container .header p {
    font-size: 18px;
}

.profil-tim h2 {
    font-size: 38px;
}

.profil-tim .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profil a {
    /* text-decoration: none; */
}

.profil-tim .profil {
    margin: 30px 15px;
    background-color: #000;
    width: 250px;
    height: 250px;
    border-radius: 5%;
    position: relative;
}

.logo {
    width: 100%;
    height: 100%;
    border-radius: 5%;
    border: 1px solid #000;
}

.profil .profil-txt {
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5%;
    opacity: 0;
}

.profil .profil-txt:hover {
    opacity: 1;
    animation: profilAnimation 1s ease forwards;
    z-index: 99;
}

.profil-icon {
    color: #2c3e50;
    width: 100%;
    margin: 10px 0;
    text-align: center;
}

.profil-icon a {
    color: #516579;
    font-size: 26px;
}

.profil-icon a:hover {
    color: #121a22;
    background-color: rgb(204, 192, 192);
}

/* Message */
/* .message {
    margin-top: 100px;
    padding: 0px 100px;
    height: 350px;
    margin-bottom: 100px;
}
.message-img img {
    width: 500px;
    height: 350px;
    float: left;
    padding-left: 50px;
}
.message-text {
    padding-top: 100px;
    float: right;
    padding-right: 100px;
}
.message-text h2 {
    margin-bottom: 20px;
}
.read {
    background-color: #1a73e8;
    margin-top: 20px;
} */

/* Footer */
footer .container {
    height: 80px;
    margin-top: 20px;
    padding-bottom: 100px;
}

footer span {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    color: darkblue;
}

footer p {
    color: #535353;
    font-size: 16px;
}

/* Animation */
@keyframes profilAnimation {
    0% {
        width: 250px;
        height: 250px;
    }

    100% {
        width: 380px;
        height: 380px;
        align-items: center;
    }
}

@keyframes wrapperAnimation {
    0% {
        width: 0%;
        height: 500px;
    }

    100% {
        width: 100%;
        height: 500px;
        padding: 100px 0px 100px 0;
    }


    footer p {
    color: #535353;
    font-size: 16px;
    }
}
